.App {
    /* text-align: center; */
    height: 400px;
    width: 50vw;
    margin: 100px auto;
    background-color: #ffc102;
    border-radius: 5px;
    padding: 25px 20px;
}

h4{
    margin-bottom: 30px;
}
h3{
    
}
/* #ffc10
#17a2b8
*/

.Result {
    height: 400px;
    width: 50vw;
    margin: 100px auto;
    background-color:#28a745 ;
    border-radius: 5px;
    text-align: center;
    padding: 25px 20px;
    margin-top: 50px;
}

.Result h3{
   margin-top: 150px;
}

